@page "/About"
<div style="width:900px">
    <h1>
        <img src="/SEMWebApp/release/SEMWebApp/dist/Images/HouseFinch.png" height="100"/>
        About
        <img src="/SEMWebApp/release/SEMWebApp/dist/Images/canadianwarbler.png" height="100"  style="filter:FlipH"/>
    </h1>
    <hr>

    <p>The Song Evolution Model (SEM) is an agent-based model that simulates how different behaviors and evolutionary
        pressures interact to affect birdsong evolution.  SEM is highly customizable, with over 60 parameters for
        the user to change, including multiple song-learning strategies, different female preferences, and the ability
        to allow for birds to interact on a global or local scale.  The full capabilities of SEM and the documentation
        for the code are described in the Walkthroughs linked to below. </p>
    <p>Published on this website is a limited version of SEM to demonstrate how the model works and visualize how
        evolution occurs within its confines.  Please download the full versions for research purposes.  The R
        version of the model is substantially faster than the webapp version, and the C# version is substantially
        faster than the R version.  We recommend users choose the C# version if possible.</p>


    <h4>Links:</h4>
    <a href="https://github.com/NeuroBio/SongEvolutionModelLibrary">C# Library Download</a><br/>
    <a href="https://github.com/NeuroBio/SongEvolutionModelPrograms">C# Programs Download</a><br/>
    <br/>
    <a href="https://github.com/NeuroBio/SEM_R_Package">R Model Download</a><br/>
    <a href="https://www.proquest.com/openview/6a6b68b5e133915c5b8c22937d0ba682/1?pq-origsite=gscholar&cbl=18750&diss=y">Thesis Work Using the Model</a><br/>
    <br/>
    <hr>
    
    <h4>Contributions:</h4>
    <b>C. Robinson</b> took skeletal MatLab code, translated it into R and expanded on it.  Further translated the code into C#.
    Ran and designed the experiments in the above publications and wrote the manuscripts and walkthroughs.
    Developed this web app and created the bird art used within.<br/>
    <br/>
    <b>N. Creanza</b> funded this research, came up with the initial idea for the model, and designed experiments.  She also helped eidt the Thesis work.<br/>
    <br/>
    <b>R. Yu</b> wrote the skeletal model in MatLab.<br/>
    <br/>
    <b>J. Singer</b> helped derived the equations for the survival curve and conformity flavor of consensus learning.<br/>
    <br/>
    <b>K. Walsh</b> wrote the code for the weighted sampling algorithm in C# and helped with solving for the roots of the survival curve equation in C#.<br/>
    <br/><br/>
    <hr>
</div>