@page "/"
<h4>About:</h4>
<p>The Song Evolution Model (SEM) is an agent-based model that simulates the effects of different behaviors and evolutionary pressures interact to affect birdsong evolution.  SEM is highly customizable, with over 60 parameters for the user to change, include multiple song-learning strategies, different female preferences, and the ability to allow for birds to interact on a global or local scale.  The full capabilities of SEM and the documentation for the code are described in the Walkthroughs linked to below. </p>
<p>Published on this website is a limited version of SEM to demonstrate how the model works and visualize how evolution occurs within its confines.  The R version of the model is substantially faster than the webapp version, and the C# version is substantially faster than the R version.  We recommend users choose the C# version if possible.</p>

<h4>Downloads:</h4>
<a href="">C# Library Download</a> (not yet public!)<br/>
<a href="">C# Programs Download</a> (not yet public!)<br/>
<a href="">C# Model Walkthrough</a> (not yet public!)<br/>
<br/>
<a href="">R Model Download</a> (not yet public!)<br/>
<a href="">R Model Walkthrough</a> (not yet public!)<br/>
<br/>

<h4>Publications:</h4>
Robinson, C. and Creanza, N. (2019). title. <i>Journal Vol</i>:Issue, Page-s. doi:<br/>
Robinson, C. and Creanza, N. (2019). title. <i>Journal Vol</i>:Issue, Page-s. doi:<br/>
