@page "/lol2"


<button onclick=@HandleClick>
    @Message
</button>
<div onclick="@HandleClick" class="my-component">

    @Message

</div>




@functions {

    string Message = "Click to change";

    async void HandleClick()

    {

        Message = await PromptInterop.PromptAsync("Type a message");

        StateHasChanged();

    }

}